<div class="span8">
    <p class="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" class="license-logo">
            <img alt="CC BY-SA"
                 src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" />
        </a>

        Copyleft &copy; 2013 <a href="http://isharacomix.org">Barry Peddycord III</a>: <em>Some</em> Rights Reserved
    </p>
</div>
<div class="span2">
<a href="http://doodle.com/isharacomix">Schedule a meeting</a>
</div>
<div class="span2">
<a href="https://github.com/ishara-teaching/ishara-teaching.github.io/archive/portfolio.zip">Download my portfolio (.zip)</a>
</div>

