<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Teaching Portfolio | Barry Peddycord III | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="description" content="Barry's Teaching Portfolio" />
        <meta name="author" content="Barry Peddycord III">
        
        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap.css">
        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap-responsive.css">
    </head>

    <body>
        <div class="container container-main">
            <div class="row">
                {% include header.html %}
            </div>
            
            <div class="row">
                <ul class="nav nav-tabs">
                  <li {% if page.title == "Home" %} class="active" {% endif %}>
                    <a href="{{ site.baseurl }}">Home</a>
                  </li>
                  <li>
                  <li {% if page.title == "Teaching Philosophy" %} class="active" {% endif %}>
                    <a href="{{ site.baseurl }}philosophy">Teaching Philosophy</a>
                  </li>
                  <li {% if page.title == "Past Classes" %} class="active" {% endif %}>
                    <a href="{{ site.baseurl }}classes">Past Classes</a>
                  </li>
                  <li {% if page.title == "Professional Development" %} class="active" {% endif %}>
                    <a href="{{ site.baseurl }}development">Professional Development</a>
                  </li>
                  <li {% if page.title == "Executive Summary" %} class="active" {% endif %}>
                    <a href="{{ site.baseurl }}summary">Executive Summary</a>
                  </li>
                </ul>
            </div>

            <div class="row">
                <div class="span2">
                    <strong>Course Webpages</strong>
                    <ul class="nav nav-pills nav-stacked">
                          <li {% if page.course == "8bitmooc" %}
                              class="active" {% endif %}>
                              <a href="http://8bitmooc.org">
                                  #8bitmooc</a>
                          </li>
                          <li {% if page.title == "Past Courses" %}
                              class="active" {% endif %}>
                              <a href="{{site.baseurl}}old">
                                  Past Courses...</a>
                          </li>
                    </ul>
                </div>
                <div class="span10">
                    {{ content }}
                </div>
            </div>

            <hr />

            <footer class="row">
                {% include footer.html %}
            </footer>
        </div>

        <script src="{{site.baseurl}}js/jquery-1.9.1.min.js"></script>
        <script src="{{site.baseurl}}js/bootstrap.js"></script>
    </body>
</html>
